@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
}
.profile-container {
  padding: 25px 30px;
}
.show {
  display: block;
}

.hide {
  display: none;
}

.card{
  box-shadow: 0px 2px 15px rgba(0,0,0,0.2);
  max-width: 500px;
  height: 500px;
  width: 500px;
  max-height: 100vh;
  border-radius: 10px;
  background-color:#fff;
  font-size: 1.5rem;
}
.card-title{
  font-size: 1.5rem;
}
.card-title-md{
  font-size: 1.2rem;
}
.card-text{
  font-size: 15px;
}
.padding-icon{
  padding-right: 50px;
  padding-bottom: 5px;
}

.color-price{
  color: #5399af;
  padding-top: 10px;
  padding-bottom: 10px;
}

.color-icon{
  color: yellow;
  padding-top: 10px;
  
}
.color-icon-dark{
  color: grey;
  padding-top: 10px;
  
}

.main_img{
    height: 270px;
    width: 398px;
    padding-left: 20px;
    border-radius: 10%;
    padding-top: 5px;
}

.second_img{
    height: 112px;
    width: 120px;
    padding-left: 20px;
    border-radius: 10%;
}

.padding{
    padding-bottom: 36px;
}

body{
   background-color: #ffffff;
}

.wrapper{
  display: flex;
  position: relative;
}

/*.wrapper .sidebar{
  width: 274px;
  height: 100%;
  background: #5399af;
  padding: 30px 0px;
  position: fixed;
}*/

/*.wrapper .sidebar h2{
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 30px;
}*/

.button{
    background-color: #5399af;
    border: none;
    color: white;
    padding: 10px 28px;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
}

.padding{
    padding-top: 20px;
    padding-bottom: 20px;
}

.p-r-20{
    padding-right: 20px;
}

/*.wrapper .sidebar ul li{
  padding: 15px;
  border-bottom: 1px solid #bdb8d7;
  border-bottom: 1px solid rgba(0,0,0,0.05);
  border-top: 1px solid rgba(255,255,255,0.05);
}*/    

/*.wrapper .sidebar ul li a{
  color: #ffffff;
  display: block;
  font-size: 18px;
}*/

/*.wrapper .sidebar ul li a .fas{
  width: 25px;
}*/

/*.wrapper .sidebar ul li:hover{
  background-color: #ffffff;
}*/

/*.wrapper .sidebar ul li:hover a{
  color: #707070;
}*/

.wrapper{
  width: 100%;
  margin-left: 0px;
  margin-right: 20px;
}

.wrapper .main_content {
  padding: 20px;
  background: #fff;
  color: #717171;
}

.profile-header{
    font-size: 26px;
    color: #131212;
    padding-bottom: 25px;
}

.wrapper .main_content .profile-info{
  margin: 20px;
  color: #717171;
  line-height: 25px;
}

.wrapper .main_content .profile-info div{
  margin-bottom: 20px;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.margin-r-0{
  margin-right: 0px;
}

.margin-b-25{
  margin-bottom: 25px;
}
.margin-t-25{
  margin-top: 25px;
}
.margin-l-25{
  margin-left: 25px;
}
.title-row{
  padding-top: 20px;
  padding-bottom: 20px;
}

h2.title{
  font-size: 36px;
  font-weight: bold;  
  text-align: left;
}

button.edit-hotel-btn{ 
  background-color: #5399af;
  border: none;
  border-radius: 10px;
  color: white;
  padding: 10px 28px;
  text-align: center;
  font-size: 18px;
  float: right;
  margin-right: 25px;
  margin-bottom: 25px;
}

button.edit-hotel-btn:hover{
  background-color: #fff;
  color: #5399af;
}

.main_content_left{
  width: 100%;
  margin-left: 0px;
  margin-right: 20px;
}

.hotel-image{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  border-radius: 10px;
}

.KamarDetails-detail{
  width: 500px;
  max-width: 500px;
  height: 500px;
  max-height: 100vh;
  background-color: white;
  /* border: 1px solid black; */
  display: inline-block;
  margin-left: 0px;
  margin-right: 0px;
}

.galleryItem{
  /* border: 1px solid black; */
  width: auto;
  height: auto;
  
  margin-top: 25px;
  margin-bottom: 25px;
  
}

div.gallery {
  float: left;
  margin-top: 15px;   
  
} 
/* div.gallery:hover {} */
div.gallery img {
  width: 100px;
  height: 100px;
  /* margin-left: 5px; */
  margin-right: 5px;
  border-radius: 10%;
}

.main_content_right{
  text-align: left;
  padding-top: 20px;
  padding-left: 10px;
  width: 100%;
  max-height: 100vh;
  border-radius: 10px;
  background-color:#fff;
}

.detail-title{
  font-weight: bold;
  font-size: 26px;
  color: #717171;
}

.detail-location{
  padding-left: 5px;
  display:inline-block;
  font-family: 'Open Sans';
  font-weight: bold;
}

.detail-location-icon{
  display:inline-block;
}

.detail-price{
  color: #5399af;
  padding-top: 10px;
  font-size: 24px;
  font-weight: bold;
}

.detail-section-title{
  font-weight: bold;

}