*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
}

.loginText {
    color: #007bff;
    font-weight: bold;
    cursor: pointer;
}

.successMessage {
    color: green;
    font-weight: bold;
}

.title{
    font-weight: bold;
}

.sign-up-btn{
    font-family: 'Open Sans', sans-serif;
}

.sign-up-btn:hover{
    font-family: 'Open Sans', sans-serif;
    color: #5399af;
    background-color: #ffffff;
}

h6{
    padding-top: 10px;
}