.JudulEdit{
    width: 1050px;
    max-width: 1050px;
    height: 50px;
    max-height: 50px;
    padding: 0px;
    background-color: white;
    /* border: 1px solid black; */
    margin-top: 50px;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 50px;
}

.KamarDetails-header{
    min-height: 100vh;
    margin-left: 10px;
    margin-right: 10px;
    background-color: white;
}

h1{
    margin-left: 25px;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 650px;
    padding: 0px;
    display: inline;
}

.EditButton{
    background-color: cadetblue;
    color: white;
    height:40px;
    width: 100px;
    border: none;    
    border-radius: 7px;
    display: inline;
    cursor: pointer;
}

.KamarDetails-detail{
    width: 500px;
    max-width: 500px;
    height: 300px;
    max-height: 100vh;
    background-color: white;
    border: 1px none grey;
    padding-left: 1px;
    padding-right: 1px;
    box-shadow: 0px 0px 10px #888888;
    border-radius: 10px;

    display: inline-block;
    margin-left: 25px;
    margin-right: 25px;
}
/*  */
img{
    display: block;
    height: 300px;
    width: 500px;
    border-radius: 10px;
    /* margin-left: auto;
    margin-right: auto; */
}

.galleryItem{
    /* border: 1px solid black; */
    width: 450px;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    margin-bottom: 25px;

}

div.gallery {
    float: left;
    margin-top: 15px;
    
    
}
  
/* div.gallery:hover {

} */
  
div.gallery img {
    width: 100px;
    height: 100px;
    /* margin-left: 5px; */
    margin-right: 5px;
}
/*  */
table {
    /* border: 1px solid black; */
    border: none;
    width: 450px;
    max-width: 450px;
    max-height: 500px;
    margin-left: 25px;
    margin-right: 25px;
}

tr , td{
    vertical-align: top;
    padding-top: 10px;
    padding-bottom: 10px;
}

p{
    margin: 0px;
}

.NamaKamar{
    color: cadetblue;
    font-size: 40px;
    font-weight: bold;
}

/*  */

